<!-- Header Top-->
<div class="header-top">
    <div class="container">
        <div class="w-100">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-top">
                        <ul class="nav align-items-center">
                            <li class="nav-item dropdown has-arrow main-drop mr-3">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> USD
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/pages/login'>INR</a>
                                    <a class="dropdown-item" routerLink='/pages/login'>EURO</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown has-arrow main-drop mr-3">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> ENGLISH
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink='/pages/login'>GERMAN</a>
                                    <a class="dropdown-item" routerLink='/pages/login'>FRENCH</a>
                                    <a class="dropdown-item" routerLink='/pages/login'>CHINESE</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-top">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f top-icons"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram top-icons"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in top-icons"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter top-icons"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Header Top-->

<!-- Header -->
<header class="header header-trans">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="container">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
                    <span class="bar-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a>
                <a routerLink='/' class="navbar-brand logo">
                    <span class="brand-text">Golf Development</span>
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a routerLink='/' class="menu-logo">
                        <img src="assets/img/logo.svg" class="img-fluid" alt="Golf Development Academy">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav bg-trans">
                    <li [ngClass]="[activeRoute === '' ? 'active' : '']">
                        <a routerLink='/'>Home</a>
                    </li>
                    <li class="has-submenu" [ngClass]="[activeRoute === 'golf-advisors' ? 'active' : '']">
                        <a href="">Golf Advisors <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li [ngClass]="[active2Route === 'advisors-dashboard' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/advisors-dashboard'>Golf Advisors Dashboard</a></li>
                            <li [ngClass]="[active2Route === 'batch' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/batch'>Batch</a></li>
                            <li [ngClass]="[active2Route === 'schedule-timings' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/schedule-timings'>Schedule Timing</a></li>
                            <li [ngClass]="[active2Route === 'my-golfers' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/my-golfers'>Golfers List</a></li>
                            <li [ngClass]="[active2Route === 'golfer-profile' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/golfer-profile'>Golfers Profile</a></li>
                            <li [ngClass]="[active2Route === 'chat-advisor' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/chat-advisor'>Chat</a></li>
                            <li [ngClass]="[active2Route === 'invoices' ? 'active' : '']"><a
                                    routerLink='/pages/invoices'>Invoices</a></li>
                            <li [ngClass]="[active2Route === 'advisors-profile-settings' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/advisors-profile-settings'>Profile Settings</a></li>
                            <li [ngClass]="[active2Route === 'reviews' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/reviews'>Reviews</a></li>
                            <li [ngClass]="[active2Route === 'advisors-register' ? 'active' : '']"><a
                                    routerLink='/golf-advisors/advisors-register'>Golf Advisors Register</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu" [ngClass]="[activeRoute === 'golfers' ? 'active' : '']">
                        <a href="">Golfers <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li class="has-submenu">
                                <a href="#">Advisors</a>
                                <ul class="submenu">
                                    <li [ngClass]="[active2Route === 'map-grid' ? 'active' : '']"><a
                                            routerLink='/golfers/map-grid'>Map Grid</a></li>
                                    <li [ngClass]="[active2Route === 'map-list' ? 'active' : '']"><a
                                            routerLink='/golfers/map-list'>Map List</a></li>
                                </ul>
                            </li>
                            <li [ngClass]="[active2Route === 'search' ? 'active' : '']"><a
                                    routerLink='/golfers/search'>Search Golf Advisors</a></li>
                            <li [ngClass]="[active2Route === 'advisors-profile' ? 'active' : '']"><a
                                    routerLink='/golfers/advisors-profile'>Golf Advisors Profile</a></li>
                            <li [ngClass]="[active2Route === 'booking' ? 'active' : '']"><a
                                    routerLink='/golfers/booking'>Booking</a></li>
                            <li [ngClass]="[active2Route === 'checkout' ? 'active' : '']"><a
                                    routerLink='/golfers/checkout'>Checkout</a></li>
                            <li [ngClass]="[active2Route === 'booking-success' ? 'active' : '']"><a
                                    routerLink='/golfers/booking-success'>Booking Success</a></li>
                            <li [ngClass]="[active2Route === 'golfer-dashboard' ? 'active' : '']"><a
                                    routerLink='/golfers/golfer-dashboard'>Golfers Dashboard</a></li>
                            <li [ngClass]="[active2Route === 'favourites' ? 'active' : '']"><a
                                    routerLink='/golfers/favourites'>Favourites</a></li>
                            <li [ngClass]="[active2Route === 'chat' ? 'active' : '']"><a
                                    routerLink='/golfers/chat'>Chat</a></li>
                            <li [ngClass]="[active2Route === 'profile-settings' ? 'active' : '']"><a
                                    routerLink='/golfers/profile-settings'>Profile Settings</a></li>
                            <li [ngClass]="[active2Route === 'change-password' ? 'active' : '']"><a
                                    routerLink='/golfers/change-password'>Change Password</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu" [ngClass]="[activeRoute === 'pages' ? 'active' : '']">
                        <a href="">Pages <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li [ngClass]="[active2Route === 'voice-call' ? 'active' : '']"><a
                                    routerLink='/pages/voice-call'>Voice Call</a></li>
                            <li [ngClass]="[active2Route === 'video-call' ? 'active' : '']"><a
                                    routerLink='/pages/video-call'>Video Call</a></li>
                            <li [ngClass]="[active2Route === 'search' ? 'active' : '']"><a
                                    routerLink='/golfers/search'>Search Golf Advisors</a></li>
                            <li [ngClass]="[active2Route === 'calendar' ? 'active' : '']"><a
                                    routerLink='/pages/calendar'>Calendar</a></li>
                            <li [ngClass]="[active2Route === 'components' ? 'active' : '']"><a
                                    routerLink='/pages/components'>Components</a></li>
                            <li class="has-submenu">
                                <a routerLink='/pages/invoices'>Invoices</a>
                                <ul class="submenu">
                                    <li [ngClass]="[active2Route === 'invoices' ? 'active' : '']"><a
                                            routerLink='/pages/invoices'>Invoices</a></li>
                                    <li [ngClass]="[active2Route === 'invoice-view' ? 'active' : '']"><a
                                            routerLink='/pages/invoice-view'>Invoice View</a></li>
                                </ul>
                            </li>
                            <li [ngClass]="[active2Route === 'blank-page' ? 'active' : '']"><a
                                    routerLink='/pages/blank-page'>Starter Page</a></li>
                            <li [ngClass]="[active2Route === 'login' ? 'active' : '']"><a
                                    routerLink='/pages/login'>Login</a></li>
                            <li [ngClass]="[active2Route === 'register' ? 'active' : '']"><a
                                    routerLink='/pages/register'>Register</a></li>
                            <li [ngClass]="[active2Route === 'forgot-password' ? 'active' : '']"><a
                                    routerLink='/pages/forgot-password'>Forgot Password</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu" [ngClass]="[activeRoute === 'blog' ? 'active' : '']">
                        <a href="">Blog <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li [ngClass]="[active2Route === 'blog-list' ? 'active' : '']"><a
                                    routerLink='/blog/blog-list'>Blog List</a></li>
                            <li [ngClass]="[active2Route === 'blog-grid' ? 'active' : '']"><a
                                    routerLink='/blog/blog-grid'>Blog Grid</a></li>
                            <li [ngClass]="[active2Route === 'blog-details' ? 'active' : '']"><a
                                    routerLink='/blog/blog-details'>Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="login-link">
                        <a routerLink='/pages/login'>Login / Signup</a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht align-items-center">
                <li class="nav-item contact-item">
                    <i class="far fa-user mr-2"></i>
                    <a routerLink='/pages/register'>SIGN UP</a> / <a routerLink='/pages/login'>SIGN IN</a>
                </li>
                <li class="nav-item cart-item">
                    <a routerLink='/golfers/booking'><img src="assets/img/golf-vector.png" alt="" class="img-fluid">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- /Header -->