<!-- Footer -->
<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="subsccribe-item">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="subscribe-item">
                            <div class="section-title">
                                <h2>Inscription a la newsletter</h2>
                                <p>Recevez nos nouveautes et offres exclusives</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="subscribe-item">
                            <form class="newsletter-form">
                                <input type="email" class="form-control" placeholder="Entrez votre email"
                                    autocomplete="off">
                                <button class="btn cmn-btn disabled" type="submit"><i
                                        class="fas fa-paper-plane mr-2"></i>S inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-about-content">
                            <h5>Notre adresse</h5>
                            <p class="mb-4">Jedlienne, Kasserine </p>
                            <h5>Email</h5>
                            <p class="mb-4">golf@example.com </p>
                            <h5>Telephone</h5>
                            <p>+216 95997601 </p>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>
                <div class="col-lg-6 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu text-center">
                        <div class="footer-about">
                            <img src="assets/img/logo.svg" alt="" class="img-fluid mb-3">
                            <p>
                                Academie sportive: nous formons des champions avec passion, discipline
                                et coaching professionnel.
                            </p>
                            <ul>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f footer-icons"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram footer-icons"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-linkedin-in footer-icons"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter footer-icons"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Footer Widget -->

                </div>
                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <ul>
                            <li><a routerLink='/golfers/search'>Rechercher un coach</a></li>
                            <li><a routerLink='/pages/login'>Connexion</a></li>
                            <li><a routerLink='/pages/register'>Inscription</a></li>
                            <li><a routerLink='/golfers/favourites'>Favoris</a></li>
                            <li><a routerLink='/golfers/golfer-dashboard'>Tableau de bord athlete</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>
                <div class="col-lg-2 col-md-6">

                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <ul>
                            <li><a routerLink='/golf-advisors/my-golfers'>Liste des athletes</a></li>
                            <li><a routerLink='/golf-advisors/chat-advisor'>Chat</a></li>
                            <li><a routerLink='/pages/login'>Connexion</a></li>
                            <li><a routerLink='/golf-advisors/advisors-register'>Inscription coach</a></li>
                            <li><a routerLink='/golf-advisors/advisors-dashboard'>Tableau de bord coach</a></li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright-text text-left">
                            <p>© 2026 Academie Sportive. Tous droits reserves.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->