<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2">

                <!-- Login Tab Content -->
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid"
                                alt="Académie Sportive Connexion">
                        </div>
                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Connexion <span>Académie Sportive</span></h3>
                            </div>

                            <form (ngSubmit)="submit()" novalidate>

                                <!-- Email -->
                                <div class="form-group form-focus">
                                    <input type="email" class="form-control floating"
                                        [(ngModel)]="email" name="email"
                                        [class.error]="emailError" required>
                                    <label class="focus-label">Email</label>
                                    <small *ngIf="emailError" class="error-message show">{{ emailError }}</small>
                                </div>

                                <!-- Mot de passe -->
                                <div class="form-group form-focus">
                                    <input [type]="showPassword ? 'text' : 'password'"
                                        class="form-control floating"
                                        [(ngModel)]="password" name="password"
                                        [class.error]="passwordError" required>
                                    <label class="focus-label">Mot de passe</label>
                                    <span class="toggle-password" (click)="showPassword = !showPassword">
                                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </span>
                                    <small *ngIf="passwordError" class="error-message show">{{ passwordError }}</small>
                                </div>

                                <!-- Error global -->
                                <div *ngIf="errorMsg" class="alert alert-danger alert-custom">
                                    <i class="fa fa-exclamation-circle"></i> {{ errorMsg }}
                                </div>

                                <!-- Success -->
                                <div *ngIf="successMsg" class="alert alert-success alert-custom">
                                    <i class="fa fa-check-circle"></i> {{ successMsg }}
                                </div>

                                <!-- Submit -->
                                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit"
                                    [disabled]="loading">
                                    <span *ngIf="!loading">Se connecter</span>
                                    <span *ngIf="loading">
                                        <i class="fa fa-spinner fa-spin"></i> Connexion...
                                    </span>
                                </button>

                                <!-- Forgot password -->
                                <div class="text-center forgot-link">
                                    <a routerLink="/pages/forgot-password">Mot de passe oublié ?</a>
                                </div>

                                <!-- Register link -->
                                <div class="text-center dont-have">
                                    Pas encore de compte ? <a routerLink="/pages/register">S'inscrire</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- /Login Tab Content -->

            </div>
        </div>
    </div>
</div>