<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-2">
                <div class="account-content">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 col-lg-6 login-left">
                            <img src="assets/img/login-banner.png" class="img-fluid" alt="Nouveau mot de passe">
                        </div>

                        <div class="col-md-12 col-lg-6 login-right">
                            <div class="login-header">
                                <h3>Nouveau mot de passe</h3>
                                <p>Entrez votre nouveau mot de passe</p>
                            </div>

                            <form (ngSubmit)="submit()" novalidate>

                                <div class="form-group form-focus">
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control floating"
                                        [(ngModel)]="newPassword" name="newPassword" required>
                                    <label class="focus-label">Nouveau mot de passe</label>
                                    <span class="toggle-password" (click)="showPassword = !showPassword">
                                        <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </span>
                                </div>

                                <div class="form-group form-focus">
                                    <input [type]="showConfirmPassword ? 'text' : 'password'"
                                        class="form-control floating" [(ngModel)]="confirmPassword"
                                        name="confirmPassword" required>
                                    <label class="focus-label">Confirmer le mot de passe</label>
                                    <span class="toggle-password" (click)="showConfirmPassword = !showConfirmPassword">
                                        <i [class]="showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                    </span>
                                </div>

                                <div *ngIf="errorMsg" class="alert alert-danger alert-custom">
                                    <i class="fa fa-exclamation-circle"></i> {{ errorMsg }}
                                </div>

                                <div *ngIf="successMsg" class="alert alert-success alert-custom">
                                    <i class="fa fa-check-circle"></i> {{ successMsg }}
                                </div>

                                <button class="btn btn-primary btn-block btn-lg login-btn" type="submit"
                                    [disabled]="loading">
                                    <span *ngIf="!loading">Changer le mot de passe</span>
                                    <span *ngIf="loading">
                                        <i class="fa fa-spinner fa-spin"></i> Chargement...
                                    </span>
                                </button>

                                <div class="text-center forgot-link">
                                    <a routerLink="/pages/login">Retour à la connexion</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>